<h1>Search Results:</h1>

<% @restaurants.each do |r| %>
  <h4><%= r.name %></h4>
  Phone: <%= r.phone %><br>
  Rating: <%= r.rating %><br>
  Address: <%= r.address %><br>
  Distance:
  <% if r.distance %>
    <%= r.distance.round(1) %> miles
  <% else %>
    (not available)
  <% end %><hr>
<% end %>
